@charset "UTF-8";

/*declarações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #201201;
}

h1 {
    color: #35637A;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
}
/* declarações de retrato */
@media screen and (orientation:portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* declarações de paisagem */
@media screen and (orientation:landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
}
}